

html {
  position: relative;
  min-height: 100vh !important;
}

body {
  margin-bottom: 70px !important;
  min-height: 100%;
}

nav {
  background-color: #ffaa64;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;  
  background-color: #ffaa64;
}

.footer a {
  color: black;
}

.footer p {
  color: black;
}

